<appSettings>
  <add key="dg.Sql.Connector" value="MySql" />
  
  <add key="topMenu-configSource" value="~/topMenu.config"/>
  <add key="sideMenu-configSource" value="~/sideMenu.config"/>

  <add key="Authentication.MaximumBadLoginTries.UserId" value="9"/>
  <add key="Authentication.MaximumBadLoginTries.AppUserId" value="0"/>
  <add key="Authentication.RecoveryKeyLifeInHours.UserId" value="72"/>
  <add key="Authentication.RecoveryKeyLifeInHours.AppUserId" value="72"/>
  <add key="Authentication.AuthTokenTimeSpan.UserId" value="72"/>
  <add key="Authentication.AuthTokenTimeSpan.AppUserId" value="72"/>
  <add key="Authentication.AuthCookieLifeInHours.UserId" value="720"/>
  <add key="Authentication.AuthCookieLifeInHours.AppUserId" value="720"/>
  <add key="Authentication.AuthTokenSalt.AppUserId" value="anygym-authtoken"/>
  <add key="Authentication.AuthTokenSalt.UserId" value="anygym-authtoken"/>

  <add key="ApiHandler.PathPrefix" value="/api/"/>
  <add key="vs:EnableBrowserLink" value="false" />

  <add key="APNS.Certificates.Development" value="~/certificates/aps_development.p12"/>
  <add key="APNS.Certificates.Development.Pwd" value=""/>
  <add key="APNS.Certificates.Production" value="~/certificates/aps_production.p12"/>
  <add key="APNS.Certificates.Production.Pwd" value=""/>
  <add key="APNS.Certificates.Sandbox" value="false"/>
  <add key="APNS.Certificates.Timing" value="500"/>
  <add key="prioritized_suppliers" value="43"/>
  
  <add key="Gcm.PackageName" value="com.snoopi.suppliers"/>
  <add key="Gcm.ApiKey" value="AIzaSyAxleRuoEFwqYiIVxYSlsJqcN8wEsARwZQ"/>
  <add key="Gcm.Timing" value="500"/>


  <add key="AvailableLanguages" value="en-US:English,he-IL:עברית"/>
  
  <add key="CKeditor:BasePath" value="~/resources/ckeditor"/>
</appSettings>