<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="facebook" type="Facebook.Configuration.FacebookSection, Facebook" />
  </configSections>
  <appSettings configSource="app.config" />
  <connectionStrings configSource="db.config" />
  <!--<facebook>
    <applications>
      <add apiKey="" secret="" />
    </applications>
  </facebook>-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <sessionState timeout="120"></sessionState>
    <httpHandlers> 
      
      <!-- Visual studio / IIS <= 6.0  / .NET 2.0 -->
      <add verb="*" path="/api/*,/api/*/*,/api/*/*/*,/api/*/*/*/*" validate="false" type="Snoopi.api.ApiHandler, Snoopi.api" />
      <add verb="*" path="/web-api/*,/web-api/*/*,/web-api/*/*/*,/web-api/*/*/*/*" validate="false" type="Snoopi.web.API.ApiHandler, Snoopi.web" />
    </httpHandlers>
  </system.web>
  <location path="crons/rematch">
    <system.web>
      <httpRuntime executionTimeout="3600" />
    </system.web>
  </location>
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="HomePage.aspx" />
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>-->
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <!-- <validation validateIntegratedModeConfiguration="false" /> allows Visual Studio configuration to stay without getting IIS 7 too angry -->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- IIS >= 7.0 -->
      <add name="API" verb="*" path="/api/*" resourceType="Unspecified" preCondition="" type="Snoopi.api.ApiHandler, Snoopi.api" />
      <add name="WEBAPI" verb="*" path="/web-api/*" resourceType="Unspecified" preCondition="" type="Snoopi.web.API.ApiHandler, Snoopi.web" />
      <add name="disallow-certificates" verb="*" path="/certificates" type="System.Web.HttpForbiddenHandler" />
      <add name="disallow-p12" verb="*" path="*.p12" type="System.Web.HttpForbiddenHandler" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
