<appSettings>
  <add key="dg.Sql.Connector" value="MySql" />
  
  <add key="topMenu-configSource" value="~/topMenu.config"/>
  <add key="sideMenu-configSource" value="~/sideMenu.config"/>

  <add key="Authentication.MaximumBadLoginTries.UserId" value="9"/>
  <add key="Authentication.MaximumBadLoginTries.AppUserId" value="0"/>
  <add key="Authentication.RecoveryKeyLifeInHours.UserId" value="72"/>
  <add key="Authentication.RecoveryKeyLifeInHours.AppUserId" value="72"/>
  <add key="Authentication.AuthTokenTimeSpan.UserId" value="72"/>
  <add key="Authentication.AuthTokenTimeSpan.AppUserId" value="72"/>
  <add key="Authentication.AuthCookieLifeInHours.UserId" value="720"/>
  <add key="Authentication.AuthCookieLifeInHours.AppUserId" value="720"/>
  <add key="Authentication.AuthTokenSalt.AppUserId" value="anygym-authtoken"/>
  <add key="Authentication.AuthTokenSalt.UserId" value="anygym-authtoken"/>
  <add key="Authentication.AuthTokenLifeSpan.AppUserId" value="999720"/>
  <add key="ApiHandler.PathPrefix" value="/api/"/>

  <add key="APNS.Certificates.Development" value="~\certificates\snoopi.user.apns.dev.p12"/>
  <add key="APNS.Certificates.Development.Pwd" value=""/>
  <add key="APNS.Certificates.Production" value="~\certificates\snoopi.user.apns.dis.p12"/>
  <add key="APNS.Certificates.Production.Pwd" value=""/>
  <add key="APNS.Certificates.Sandbox" value="true"/>
  <add key="APNS.Certificates.Timing" value="500"/>

  <add key="APNSSupplier.Certificates.Development" value="~\certificates\snoopi.suppliers.apns.dev.p12"/>
  <add key="APNSSupplier.Certificates.Development.Pwd" value=""/>
  <add key="APNSSupplier.Certificates.Production" value="~\certificates\snoopi.suppliers.apns.dis.p12"/>
  <add key="APNSSupplier.Certificates.Production.Pwd" value=""/>
  <add key="APNSSupplier.Certificates.Sandbox" value="true"/>
  <add key="APNSSupplier.Certificates.Timing" value="500"/>

  <add key="vs:EnableBrowserLink" value="false" />

  <add key="Gcm.PackageName" value="com.snoopi.users"/>
  <add key="Gcm.ApiKey" value="AIzaSyAWtX_uomB5Wyw4V7SyIOFr7ZtfkoyhCH8"/>
  <add key="Gcm.Timing" value="500"/>


  <add key="Gcm.PackageNameSupplier" value="com.snoopi.suppliers"/>
  <add key="Gcm.ApiKeySupplier" value="AIzaSyAxleRuoEFwqYiIVxYSlsJqcN8wEsARwZQ"/>
  <add key="Gcm.TimingSupplier" value="500"/>
  <add key="Fcm.ApiKey" value="AAAAnGzy3tQ:APA91bELKa2kuQ60RA15-5ZoLrWcBymx8kmvYItOukCOD2KwMCbJ_ZsGkVQIvr0pAnr0_3rtL9CAhx1u9ogMI_BlFrZVPqv-UKlr2q1K5ccLipDOzjfaURkhg55KgwO0h1vyZ-9gQdKn"/>


  <!--<add key ="cgTerminal" value="8803935"/>
  <add key ="cgNewCardTerminalId" value="8803476"/>
  <add key ="cgUser" value="blumen"/>
  <add key ="cgPassword" value="8iZ5t@BX"/>
  <add key ="cgGateway" value="https://cgpay5.creditguard.co.il/xpo/Relay"/>
  <add key ="cgMid" value="12214"/>
  <add key ="cgReturnUrl" value="https://app.snoopi-app.com/api/processing/results"/>
  <add key ="cgSuccessRedirectUrl" value="https://app.snoopi-app.com/#!/purchase?is_success={0}"/>-->

  <add key ="suppliersForSnoopyTerminal" value="7056906"/>
  <add key ="cgTerminalSnoopy" value="8805054"/>
  <add key ="cgTerminal" value="0962832"/>
  <add key ="cgNewCardTerminalId" value="0963615"/>
  <add key ="cgUser" value="snoopy"/>
  <add key ="cgPassword" value="S!vg4u1c"/>
  <add key ="cgMid" value="10781"/>
  <add key ="cgGateway" value="https://cguat2.creditguard.co.il/xpo/Relay"/>
  <add key ="cgReturnUrl" value="http://snoopi.co.il/api/processing/results"/>
  <add key ="cgSuccessRedirectUrl" value="http://localhost:50404/#!/purchase?is_success={0}"/>
  

  
  <add key="AvailableLanguages" value="en-US:English,he-IL:עברית"/>
  
  <add key="CKeditor:BasePath" value="~/resources/ckeditor"/>
  <add key="InforU_SMS_URL" value="http://api.inforu.co.il/SendMessageXml.ashx"/>
  <add key="InforU_SMS_Sender" value="Snoopi"/>  
  <add key="InforU_SMS_UserName" value="snoopi"/>  
  <add key="InforU_SMS_Password" value="gdht7634fd"/>
  
  <!--if use dev  "IsProduction"="0" ,if use production  "IsProduction"="1"  -->
  <add key="IsProduction" value="False"/>  
  <add key="DevMailAddress" value="syscode1@gmail.com"/> 
  
</appSettings>