<connectionStrings>
  <!--<add name="dg.Sql" connectionString="Server=localhost;User ID=tp;Password=tp;Database=tp;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
  <add name="dg.Sql" connectionString="Server=localhost;User ID=root;Password=tupe1234;Database=snoopi-prod;CharSet=utf8;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
</connectionStrings>