<?xml version="1.0" encoding="utf-8" ?>
<mainMenu>
  <item name="Users" link="~/Users.aspx" allow="sys_perm">
    <item name="NewUser" link="~/EditUser.aspx?New=yes" allow="sys_perm" />
  </item>
  <item name="MyProfile" link="~/EditUserProfile.aspx" allow="sys_perm"></item>
  <item name="AppUsers" link="~/AppUsers.aspx" allow="sys_perm">
    <item name="NewAppUser" link="~/EditAppUser.aspx?New=yes" allow="sys_perm" />
    <!--<item name="ImportAppUsers" link="~/ImportAppUsers.aspx" allow="sys_perm" />-->
  </item>
  <item name="Suppliers" link="~/Suppliers.aspx" allow="sys_perm">
    <item name="NewSupplier" link="~/EditSupplier.aspx?New=yes" allow="sys_perm"></item>
    <item name="NewService" link="~/Services.aspx" allow="sys_perm"></item>

  </item>
  <item name="EmailTemplates" link="~/EmailTemplates.aspx" allow="sys_perm">
    <item name="NewEmailTemplate" link="~/EditEmailTemplate.aspx" allow="sys_perm"></item>
    <item name="EmailTemplateCodes" link="~/EditEmailTemplateCodes.aspx" allow="sys_perm"></item>
  </item>
  <item name="Categories" link="~/Categories.aspx" allow="sys_perm">
    <item name="NewCategory" link="~/EditCategory.aspx?New=yes" allow="sys_perm"></item>
    <item name="SubCategories" link="~/SubCategories.aspx" allow="sys_perm"></item>
    <item name="NewSubCategory" link="~/EditSubCategory.aspx?New=yes" allow="sys_perm"></item>

  </item>
  <item name="CategoriesYad2" link="~/CategoriesYad2.aspx" allow="sys_perm"></item>
  <item name="Products" link="~/Products.aspx" allow="sys_perm">
    <item name="NewProduct" link="~/EditProduct.aspx?New=yes" allow="sys_perm"></item>
    <item name="ImportProducts" link="~/ImportProducts.aspx" allow="sys_perm"></item>
  </item>
  <item name="ProductsYad2" link="~/ProductsYad2.aspx" allow="sys_perm"></item>
  <item name="Advertisements" link="~/Advertisements.aspx" allow="sys_perm">
    <item name="EditAdvertisement" link="~/EditAd.aspx?New=yes" allow="sys_perm"></item>
    <item name="AdCompanies" link="~/AdCompanies.aspx" allow="sys_perm">
      <item name="EditAdCompany" link="~/EditAdCompany.aspx?New=yes" allow="sys_perm"></item>
    </item>
  </item>
  <item name="Notifications" link="~/NotificationsPanel.aspx" allow="sys_perm">
    <item name="NotificationEdit" link="~/NotificationEdit.aspx?New=yes" allow="sys_perm"></item>
  </item>
  <item name="Filters" link="~/Filters.aspx" allow="sys_perm">
    <item name="NewFilter" link="~/EditFilter.aspx?New=yes" allow="sys_perm"></item>
    <item name="ImportFilter" link="~/ImportFilters.aspx" allow="sys_perm"></item>
  </item>
  <item name="Prices" link="~/Prices.aspx" allow="sys_perm"></item>
  <item name="ImportCity" link="~/ImportCity.aspx" allow="sys_perm"></item>
  <item name="Campiagn" link="~/Campaigns.aspx" allow="sys_perm">
    <item name="NewCampaign" link="~/EditCampaign.aspx?New=yes" allow="sys_perm"></item>
  </item>
  <item name="Messages" link="~/Messages.aspx" allow="sys_perm">
    <item name="EditMessage" link="~/EditMessage.aspx?New=yes" allow="sys_perm"></item>
  </item>
  <item name="Bids" link="~/Bids.aspx" allow="sys_perm"></item>
  <item name="SuppliersReport" link="~/SuppliersReport.aspx" allow="sys_perm"></item>
  <item name="ServiceSuppliersReport" link="~/ServiceSuppliersReport.aspx" allow="sys_perm"></item>
  <item name="PromotedSuppliers" link="~/PromotedSuppliers.aspx" allow="sys_perm">
    <item name="EditPromotedSuppliers" link="~/EditPromotedSuppliers.aspx?New=yes" allow="sys_perm"></item>
  </item>
  <item name="PromotedProducts" link="~/PromotedProducts.aspx" allow="sys_perm"></item>
  <item name="EmailLogs" link="~/EmailLogs.aspx" allow="sys_perm"></item>
  <item name="SystemSettings" link="~/SystemSettings.aspx" allow="sys_perm"></item>
  <item name="Comments" link="~/Comments.aspx" allow="sys_perm"></item>
  <item name="Orders" link="~/Orders.aspx" allow="sys_perm"></item>
  <item name="PriceDeviations" link="~/PriceDeviations.aspx" allow="sys_perm"></item>
  <item name="UntakedBids" link="~/AdminBids.aspx" allow="sys_perm"></item>
  <item name="Carts" link="~/Carts.aspx" allow="sys_perm"></item>

</mainMenu>