<?xml version="1.0" encoding="utf-8" ?>
<mainMenu>
  <item name="Users" link="~/Users.aspx" allow="sys_perm"></item>
  <item name="AppUsers" link="~/AppUsers.aspx" allow="sys_perm"></item>
  <item name="Suppliers" link="~/Suppliers.aspx" allow="sys_perm"></item>>
  <item name="SystemSettings" link="~/SystemSettings.aspx" allow="sys_perm"></item>
  <item name="Categories" link="~/Categories.aspx" allow="sys_perm"></item>
  <item name="CategoriesYad2" link="~/CategoriesYad2.aspx" allow="sys_perm"></item>
  <item name="Products" link="~/Products.aspx" allow="sys_perm"></item>
  <item name="ProductsYad2" link="~/ProductsYad2.aspx" allow="sys_perm"></item>
  <item name="Filters" link="~/Filters.aspx" allow="sys_perm"></item>
  <!--<item name="Services" link="~/Services.aspx" allow="sys_perm"></item>-->
  <item name="Comments" link="~/Comments.aspx" allow="sys_perm"></item>
  <item name="Orders" link="~/Orders.aspx" allow="sys_perm"></item>
</mainMenu>