<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="facebook" type="Facebook.Configuration.FacebookSection, Facebook" />
  </configSections>
  <appSettings configSource="app.config" />
  <connectionStrings configSource="db.config" />
  <!--<facebook>
    <applications>
      <add apiKey="" secret="" />
    </applications>
  </facebook>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="120" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpHandlers>
      <!-- Visual studio / IIS <= 6.0  / .NET 2.0 -->
      <add verb="OPTIONS" path="/*/*, /*, /*/*/*, /*/*/*/*, /* /*/*/*/*" validate="false" type="Snoopi.api.OptionsHandler, Snoopi.api" />
      <add verb="*" path="/api/*,/api/*/*,/api/*/*/*,/api/*/*/*/*" validate="false" type="Snoopi.api.ApiHandler, Snoopi.api" />
      <add verb="*" path="/web-api/*,/web-api/*/*,/web-api/*/*/*,/web-api/*/*/*/*" validate="false" type="Snoopi.web.API.ApiHandler, Snoopi.web" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />
  </system.web>
  <location path="crons/rematch">
  
  </location>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <!-- <validation validateIntegratedModeConfiguration="false" /> allows Visual Studio configuration to stay without getting IIS 7 too angry -->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- IIS >= 7.0 -->
      <add name="Options" verb="OPTIONS" path="*" resourceType="Unspecified" preCondition="" type="Snoopi.api.OptionsHandler, Snoopi.api" />
      <add name="API" verb="*" path="/api/*" resourceType="Unspecified" preCondition="" type="Snoopi.api.ApiHandler, Snoopi.api" />
      <add name="WEBAPI" verb="*" path="/web-api/*" resourceType="Unspecified" preCondition="" type="Snoopi.web.API.ApiHandler, Snoopi.web" />
      <add name="disallow-certificates" verb="*" path="/certificates" type="System.Web.HttpForbiddenHandler" />
      <add name="disallow-p12" verb="*" path="*.p12" type="System.Web.HttpForbiddenHandler" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="test@domain.com">
        <network host="smtp.sendgrid.net" password="P1OQQ2s2HNb4" userName="netic" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>